@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
/* Defines custom DINPro and DINPro bold fonts */
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/DINPro-Regular.otf"); }

@font-face {
  font-family: 'DINPro';
  font-weight: 600;
  src: url("../fonts/DINPro-Bold.otf"); }

html {
  font-size: 62.5%; }

body {
  padding: 0;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  position: relative; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1 {
  font-family: 'DINPro';
  font-weight: bold;
  font-size: 3.6rem; }

h2 {
  font-family: 'DINPro';
  font-size: 2.8rem; }

h3 {
  font-size: 2.6rem;
  font-weight: bold; }

h4 {
  font-size: 1.8rem;
  font-weight: bold; }

.button, .register-button {
  background-color: #222222;
  padding: .8rem 6.4rem;
  font-size: 2.8rem;
  color: #ffffff;
  font-family: "DINPro";
  font-weight: bold;
  text-transform: uppercase; }

.register-button {
  border: none; }

.section, article.body section.intro, article.body section.registration, article.body section.sched, article.body section.faq, article.body section.sponsors, article.contact {
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .section .heading, article.body section.intro .heading, article.body section.registration .heading, article.body section.sched .heading, article.body section.faq .heading, article.body section.sponsors .heading, article.contact .heading {
    text-align: left;
    margin-bottom: 6rem; }
  .section p, article.body section.intro p, article.body section.registration p, article.body section.sched p, article.body section.faq p, article.body section.sponsors p, article.contact p {
    margin-bottom: 2rem;
    opacity: .8; }

article.hero {
  text-align: center;
  background-color: #222222;
  padding-top: 26rem;
  padding-bottom: 26rem; }
  article.hero img.brand {
    width: 60rem;
    max-width: 100%;
    margin-bottom: 4rem; }
  article.hero h2 {
    color: #ffffff;
    margin-bottom: 4rem; }
    article.hero h2 .faded {
      opacity: .4; }

article.body {
  color: white;
  background-color: #222222;
  padding-bottom: 8rem;
  font-size: 1.8rem; }
  article.body section.intro .fake-video {
    width: 100%;
    height: 30rem;
    background-color: white;
    opacity: .1; }
  article.body section.registration div.register-card {
    border: 3px solid white;
    padding: 4rem;
    text-align: center; }
    article.body section.registration div.register-card .button, article.body section.registration div.register-card .register-button {
      padding: .8rem 0rem;
      width: 100%;
      display: block; }
    article.body section.registration div.register-card.cyan {
      border-color: #00ffff; }
      article.body section.registration div.register-card.cyan a {
        background-color: #00ffff; }
    article.body section.registration div.register-card.lavender {
      border-color: #b6a1c4; }
      article.body section.registration div.register-card.lavender a {
        background-color: #b6a1c4; }
    article.body section.registration div.register-card.pink {
      border-color: #ff7bac; }
      article.body section.registration div.register-card.pink a {
        background-color: #ff7bac; }
    article.body section.registration div.register-card p {
      margin-bottom: 4rem; }
  article.body section.sched h3 {
    margin-bottom: 4rem; }
  article.body section.sched .event {
    display: flex;
    justify-content: flex-start; }
    article.body section.sched .event h4 {
      margin: 0; }
    article.body section.sched .event .time {
      width: 12rem;
      text-align: center;
      padding-top: 4rem;
      padding-bottom: 4rem;
      background-color: purple; }
      article.body section.sched .event .time h4 {
        color: white; }
    article.body section.sched .event .details {
      padding-top: 4rem;
      padding-left: 4rem; }
  article.body section.sched .left h3, article.body section.sched .left h4 {
    color: #ff7bac; }
  article.body section.sched .left .time {
    background-color: #ff7bac; }
  article.body section.sched .right h3, article.body section.sched .right h4 {
    color: #b6a1c4; }
  article.body section.sched .right .time {
    background-color: #b6a1c4; }
  article.body section.faq .heading {
    margin-bottom: 2rem; }
  article.body section.faq .accordion {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    padding-bottom: 1rem;
    padding-top: 4rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid #464343;
    background-color: transparent;
    text-align: left;
    outline: none;
    transition: ease all 0.3s; }
  article.body section.faq .active, article.body section.faq .accordion:hover {
    border-color: #00ffff; }
  article.body section.faq .panel {
    display: none;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem; }

article.contact {
  background-color: #000000;
  text-align: center; }
  article.contact .heading {
    text-align: center; }
  article.contact h1 {
    margin-bottom: 4rem; }
  article.contact h1, article.contact h2 {
    color: #ffffff; }
  article.contact a {
    color: #00ffff; }
  article.contact .list-inline li {
    list-style: inline;
    display: inline;
    margin-left: 10px;
    margin-right: 10px; }
    article.contact .list-inline li a {
      position: relative;
      transition: ease all .2s;
      top: 0rem;
      width: 6rem;
      height: 6rem;
      display: inline-block;
      background-color: #00ffff; }
      article.contact .list-inline li a:hover {
        top: -.4rem; }
      article.contact .list-inline li a .social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 100%;
        height: 100%; }
      article.contact .list-inline li a i {
        font-size: 3rem;
        color: black; }

article.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center; }
  article.footer p {
    color: white;
    font-size: 1.8rem; }

/* Animates main section of the website */
.animate, .register-button {
  background: linear-gradient(270deg, #00ffff, #ff7bac);
  background-size: 400% 400%;
  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite; }

.static-gradient {
  background: #ff7bac;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #00ffff, #ff7bac);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #00ffff, #ff7bac);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #00ffff, #ff7bac);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00ffff, #ff7bac);
  /* Standard syntax */ }

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
